/* default styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;

}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 0 18px;
}

@media(min-width: 768px) {
  main {
    padding: 0 45px;
  }
}

button {
  /* remove default styles */
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* custom styles */

:root {
  --animation-timing: 0.3s;
}

ul {
  margin: 0;
}

button {
  color: lightgrey;
  transition: color var(--animation-timing);
  border-left: 1px solid transparent;
  padding: 1em 1em;
}

@media (min-width: 768px) {
  button {
    padding: 1em 0;
    border: none;
    border-bottom: 1px solid transparent;
  }
}

button.transitioned {
  border-color: black;
}
button.active,
button.active:hover {
  color: black;
  cursor: default;
}

button:hover {
  color: -apple-system-blue;
}

nav {
  position: relative;
  display: flex;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  #cities-nav ul {
    flex-direction: row;
  }
}

.underline {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: lightgrey;
  z-index: -1;
}

@media (min-width: 768px) {
  .underline {
    position: absolute;
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    z-index: -1;
  }
}

.underline-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: black;
  transition: height var(--animation-timing), top var(--animation-timing);
}

@media (min-width: 768px) {
  .underline-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: black;
    transition: width var(--animation-timing), left var(--animation-timing);
  }
}

.underline-highlight.transitioned {
  display: none;
}
