/* default styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 0 18px;
}

@media (min-width: 1024px) {
  main {
    padding: 0 45px;
  }
}

button {
  /* remove default styles */
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

ul {
  margin: 0;
}

/* custom styles */

:root {
  --animation-timing: 0.3s;
  font-size: 18px;
}

[data-component="cities-nav"] {
  width: 100%;
  align-items: center;
  display: flex;
}
@media (min-width: 1024px) {
  [data-component="cities-nav"] {
    flex-direction: column;
    justify-content: center;
  }
}

[data-component="cities-nav"] nav {
  position: relative;
  display: flex;
  width: 100%;
}

[data-component="cities-nav"] ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  list-style: none;
  padding: 0;
}

@media (min-width: 1024px) {
  [data-component="cities-nav"] ul {
    flex-direction: row;
    justify-content: space-around;
  }
}

[data-component="cities-nav"] .clock {
  font-variant-numeric: tabular-nums; 
  display: flex;
  align-items:center;
  justify-content: center;
  height: 2.5rem;
  font-size: 2.5rem;
}

@media (min-width: 1024px) {
  [data-component="cities-nav"] .clock {
    margin-top: 4rem;
  }
}

.clock .time-number {
  position: relative;
  width: 25.03px; /* 25.03px is the width of a single digit */
  overflow: hidden;
  height:54px;
}

.clock .time-number .current-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 500ms;
}

.clock .time-number .incoming-number {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 500ms;
}

.timezone-list-btn {
  color: lightgrey;
  transition: color var(--animation-timing);
  border-left: 1px solid transparent;
  padding: 1em 1em;
}

.timezone-list-btn.transitioned {
  border-color: black;
}
.timezone-list-btn.active,
.timezone-list-btn.active:hover {
  color: black;
  cursor: default;
}

.timezone-list-btn:hover {
  color: -apple-system-blue;
}

@media (min-width: 1024px) {
  .timezone-list-btn {
    padding: 1em 0;
    border: none;
    border-bottom: 1px solid transparent;
    min-width: 4rem;
  }
}

.underline {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: lightgrey;
  z-index: -1;
}

@media (min-width: 1024px) {
  .underline {
    position: absolute;
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    z-index: -1;
  }
}

.underline-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  background-color: black;
  transition: height var(--animation-timing), top var(--animation-timing);
}

@media (min-width: 1024px) {
  .underline-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: black;
    transition: width var(--animation-timing), left var(--animation-timing);
  }
}

.underline-highlight.transitioned {
  display: none;
}
